.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
App.a {
  font-family: 'Rock Salt', cursive;
}
App.animated {
  animation-name: App-logo-bounce2;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-bounce2 1s infinite alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-40px);
  }
}
@keyframes App-logo-bounce2 {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -250px, 0);
  }
}
